@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .services {
        &__blocks {
            gap: 10px;
        }
    }

    .nevsletter {
        padding-left: 10px;
        padding-right: 10px;


    }


}

@media (max-width: 768px) {
    .about {
        &__content {
            flex-direction: column;
            align-items: center;

            &-column {
                width: 100%;
            }

            &-descr {
                padding-right: 0;
            }

            &-list {
                gap: 10px;
            }



        }


    }

    .services {
        &__row {
            flex-direction: column;
            align-items: center;
            gap: 10px;

        }

        &__title {
            width: 100%;

            &-title {
                text-align: center;
            }

            .divider {
                margin-right: auto;
                margin-left: auto;
            }
        }

        &__button,
        &__info {
            width: 100%;
            text-align: center;
        }
    }

    .nevsletter {
        flex-direction: column;

        &_title {
            margin-right: 0;
            text-align: center;
        }
    }
}

@media (max-width: 576px) {
    .navigation {
        display: none;
    }

    .about {

        &__content {
            &-list {
                margin-top: 30px;
                flex-direction: column;
                align-items: center;
            }

            &-item {
                margin-top: 0;
            }


        }
    }

    .services {


        &__blocks {
            flex-direction: column;
            align-items: center;
        }
    }

    .nevsletter {
        padding-bottom: 10px;

        &__form {
            flex-direction: column;
        }

        &_input,
        &_button,
        &__form {
            width: 100%;
        }

    }



}