@media (max-width: 1440px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {
    .navigation {
        display: none;
    }
}