* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

@import 'blocks/divider';
@import 'blocks/header';
@import 'blocks/navigation';
@import 'blocks/title';
@import 'blocks/text';
@import 'blocks/button';

@import 'pages/promo';
@import 'pages/about';
@import 'pages/services';
@import 'pages/work';
@import 'pages/nevsletter';
@import 'pages/contacts';
@import 'pages/footer';

@import 'base/media';
@import 'base/variable';