.promo {
    position: relative;
    height: 100vh;
    background: url('../images/promo/bg.png') center (center/cover) no-repeat;
    padding: 41px 0 71px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    &__logo {
        text-align: center;
    }



    &_subtitle {
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #fff;
    }

    &_link {
        display: block;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.34em;
        color: #fff;
        text-align: center;

        &:hover {
            text-decoration: underline;
        }
    }
}