.services {
    padding: 59px 0 115px 0;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__title {
        width: 353px;

        &-title {
            text-align: left;
        }
    }

    &__button {
        width: 182px;
        text-align: right;
    }

    &__info {
        max-width: 405px;
    }

    &__blocks {
        width: 100%;
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
    }

    &__card {
        border: 1px solid #e6e6e6;
        width: 295px;
        height: 330px;
        padding: 37px 22px;
        overflow: auto;

        &-title {
            margin-top: 25px;
            text-align: left;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
        }

        &-descr {
            margin-top: 13px;
        }
    }
}