.button {
    width: 150px;
    height: 40px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: #00a4e5;
    border: none;
    cursor: pointer;
    transition: all 0.5s;

    &:active {
        background-color: #00b7ff;
    }
}