.navigation {
    &-list {
        width: 400px;
        display: flex;
        justify-content: space-between;
    }

    &-item {
        a {
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 0.09em;
            color: #48555b;
            transition: all 0.5s;

            &:hover {
                color: #00a4e5;
                font-weight: 700;
            }
        }


    }
}