.title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-align: center;
    color: #48555b;

    &-promo {
        font-family: "Bebas Neue", serif;
        font-weight: 400;
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        letter-spacing: 0.1em;
        text-align: center;
        color: #fff;
    }

}